<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Static CSS -->
  <link rel="stylesheet" type="text/css" href="css/awsm.css"/>

  <title>Urządzenia pomiarowe</title>
</head>

<body>

<!--Fragmenty thymeleaf-->
<div th:insert="fragments/fragment :: menu"></div>
<div th:insert="fragments/fragment :: header"></div>

<div class="container p-2 my-2 border">

  <h1>Urządzenia pomiarowe</h1>

  <table class="table-bordered table-responsive thead-light">
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Producent</th>
      <th>Typ</th>
      <th>Numer seryjny</th>
    </tr>

    <tr th:each="instrument : ${instruments}">
      <td th:text="${instrument.id}">ID</td>
      <td th:text="${instrument.name}">Imię</td>
      <td th:text="${instrument.producer}">Nazwisko</td>
      <td th:text="${instrument.type}">Login</td>
      <td th:text="${instrument.serialNo}">Admin</td>
    </tr>
  </table>
  </br>
</div>

<h2><a href="/instrument/new">Nowe urządzenie</a> </h2>

<!--Fragment footer / stopka-->
<div th:insert="fragments/fragment :: footer"></div>

</body>
</html>