<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: headFragment (pageTitle = 'Urządzenia pomiarowe')">
</head>

<body>

<!--Fragment menu-->
<div th:insert="fragments/fragment :: menu"></div>
<!--Fragment header-->
<div th:insert="fragments/fragment :: header"></div>

<div>

  <h2>Urządzenia pomiarowe</h2>
  <h4 th:if="${message != null}" th:text="${message}"></h4>

  <table>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Producent</th>
      <th>Typ</th>
      <th>Numer seryjny</th>
    </tr>

    <tr th:each="instrument : ${instruments}">
      <td th:text="${instrument.id}">ID</td>
      <td th:text="${instrument.name}">Imię</td>
      <td th:text="${instrument.producer}">Nazwisko</td>
      <td th:text="${instrument.type}">Login</td>
      <td th:text="${instrument.serialNo}">Admin</td>
    </tr>
  </table>
  </br>
</div>

<h4><a href="/instrument/new">Nowe urządzenie</a></h4>

<!--Fragment footer-->
<div th:insert="fragments/fragment :: footer"></div>

</body>
</html>