<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Static CSS -->
  <link rel="stylesheet" type="text/css" href="css/awsm.css"/>

  <title>Strona startowa</title>
</head>

<body>

<!--Fragmenty thymeleaf-->
<div th:insert="fragments/fragment :: menu"></div>
<div th:insert="fragments/fragment :: header"></div>

<div>

  <h1>Protokół sprawdzenia modułu</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Symbol produktu</th>
      <th>Typ produktu</th>
      <th>Nr seryjny</th>
      <th>Testował</th>
      <th>Data testu</th>
      <th>Utworzone</th>
    </tr>

    <!--/*@thymesVar id="content" type="pl.ymz.promac.testyprotokoly.controllers.ProductController"*/-->
    <tr th:each="product, iStat : ${productPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
      <td th:text="${product.id}">ID</td>
      <td th:text="${product.symbol}">Symbol produktu</td>
      <td th:text="${product.productType}">Typ produktu</td>
      <td th:text="${product.productSN}">Nr seryjny</td>
      <td th:text="${product.worker.login}">Testował</td>
      <td th:text="${product.testDate}">Data testu</td>
      <td th:text="${product.audit.created}"></td>
    </tr>
  </table>
  </br>
</div>

<!--/*@thymesVar id="productPage" type="pl.ymz.promac.testyprotokoly.controllers.ProductController"*/-->
<div th:if="${productPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
  <a th:href="@{/prod/list(size=${productPage.size}, page=${pageNumber})}"
     th:text=${pageNumber}
     th:class="${pageNumber==productPage.number + 1} ? active"></a>
</div>

<!--Fragment footer / stopka-->
<div th:insert="fragments/fragment :: footer"></div>

</body>
</html>