<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment (pageTitle)">
  <title th:text="${pageTitle}">Temp</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!--  CSS -->
  <link rel="stylesheet" type="text/css" href="/css/awsm.css"/>
  <!--    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">-->
</head>

<body>

<header th:fragment="header">
  <p>ToDo-App</p>
</header>

<nav th:fragment="menu">
  <a th:href="@{/all}">Wszystko</a>
  <a th:href="@{/instrument}">Urządzenia pomiarowe</a>
  <a th:href="@{/prod/list}">Produkty</a>
</nav>

<footer th:fragment="footer">
  <p>&copy; 2020 YMnZSdlc</p>
</footer>

</body>
</html>