<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona startowa</title>
</head>
<body>

<h1>Lista użytkowników</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>Czy jest adminem?</th>
        <th>Czy jest testerem?</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">NrId</td>
        <td th:text="${user.firstName}">Imię</td>
        <td th:text="${user.lastName}">Nazwisko</td>
        <td th:text="${user.login}">Login</td>
        <td th:text="${user.admin}">Admin</td>
        <td th:text="${user.tester}">Tester</td>
    </tr>
</table>

<table>
    <tr>
        <th>ID</th>
        <th>Symbol produktu</th>
        <th>Typ produktu</th>
        <th>Nr seryjny</th>
        <th>Testował</th>
        <th>Data testu</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">ID</td>
        <td th:text="${product.productSymbol}">Symbol produktu</td>
        <td th:text="${product.productType}">Typ produktu</td>
        <td th:text="${product.productSN}">Nr seryjny</td>
        <td th:text="${product.user.login}">Testował</td>
        <td th:text="${product.testDate}">Data testu</td>
    </tr>
</table>

<table>
    <tr>
        <th>ID</th>
        <th>Symbol</th>
        <th>Typ</th>
        <th>Zastosowano w</th>
        <th>Nr seryjny</th>
    </tr>
    <tr th:each="element : ${elements}">
        <td th:text="${element.id}">NrId</td>
        <td th:text="${element.elementSymbol}">Symbol</td>
        <td th:text="${element.elementType}">Typ</td>
        <td th:text="${element.product.productType}">Typ</td>
        <td th:text="${element.elementSN}">Nr seryjny</td>
    </tr>
</table>



</body>
</html>