<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona startowa</title>
</head>
<body>

<h1>Lista użytkowników</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>Czy jest adminem?</th>
        <th>Czy jest testerem?</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">NrId</td>
        <td th:text="${user.firstName}">Imię</td>
        <td th:text="${user.lastName}">Nazwisko</td>
        <td th:text="${user.login}">Login</td>
        <td th:text="${user.admin}">Admin</td>
        <td th:text="${user.tester}">Tester</td>
    </tr>
</table>

</body>
</html>