<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Static CSS -->
    <link rel="stylesheet" type="text/css" href="css/awsm.css"/>
    <!-- Bootstrap CSS -->
    <!--    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">-->

    <title>Strona startowa</title>
</head>

<body>
<div>

    <h1>Protokół sprawdzenia modułu</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Symbol produktu</th>
            <th>Typ produktu</th>
            <th>Nr seryjny</th>
            <th>Testował</th>
            <th>Data testu</th>
        </tr>

        <tr th:each="product, iStat : ${productPage.content}">
            <td th:text="${product.id}">ID</td>
            <td th:text="${product.productSymbol}">Symbol produktu</td>
            <td th:text="${product.productType}">Typ produktu</td>
            <td th:text="${product.productSN}">Nr seryjny</td>
            <td th:text="${product.worker.login}">Testował</td>
            <td th:text="${product.testDate}">Data testu</td>
        </tr>
    </table>
    </br>


</div>

</body>
</html>